{% extends 'base.html' %}

{% block content %}
<div class="w-full">
    <div id="navbar" class="rounded flex justify-between items-center p-1 bg-white shadow w-full px-4">
        <div class="logo">
            <a href="/">
                <h1 class="font-bold text-lg">Punchin Time</h1>
            </a>
        </div>
        <div id="menu-items">
          
                {% for nav_item in nav_items %}
                    <a href="/dashboard/{{nav_item.link}}"  class="py-4 px-3 text-gray-700 nav_link hover:text-salte-800 hover:border-slate-600 font-semibold hover:border-b-4">{{ nav_item.name }}</a>
                {% endfor %}
        </div>
        <div class="form-inline p-1 rounded">
            <form action="{% url 'logout' %}" method="post" class="flex items-center bg-slate-100 rounded">
                {% csrf_token %}
                <span class="mr-4 text-sm px-3">{{ request.user.email }}</span>
                <button type="submit" class="p-2 bg-slate-600 text-white rounded hover:bg-red-600 px-5 text-sm">Logout</button>
            </form>
        </div>
    </div>
    <div class="flex w-full justify-center">
        {% block body %}{% endblock %}
    </div>
</div>


{% endblock content %}